<!DOCTYPE html>
<html>
    <head>
        <title>data_render</title>
    </head>
    <body>
        <center>
            <h1>Here we are following semi-dynamic approach i.e rendering data from backend and displaying in our html page</h1>
            <h1>Student's name is {{name}}</h1>
            <h1>Student's gender is {{gender}}</h1>
        
        
        
        {% if age > 25 %}
            <h1>Student's age is {{age}}</h1>
        {% endif %}

        </center>
    
       
    </body>
</html>